@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");



@import url("https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.zf_XjFZUwaE.R.W.O/am=AMA/d=0/rs=AN8SPfrHMBF3K4z1tdVo-mY4csHYrGMURg/m=el_main_css");