@import url("fonts.css");

@import url("resets.css");

@import url("general.css");

.video video {top: 0;
left: 0;
overflow: hidden;
min-width: 100%;
max-width: 100%;
object-fit: cover;
display: block; }

.home { margin: 100px; max-width: 1000px; padding: 30px 40px; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(12px); border-radius: 20px; border: 1px solid rgba(255, 255, 255, 0.2); }

@media screen and (max-width: 900px) {
  .home { margin: 80px; }
}

@media screen and (max-width: 700px) {
  .home { margin: 50px; }
}

@media screen and (max-width: 600px) {
  .home { margin: 30px; padding: 20px 30px; }
}