@charset "utf-8";
@import url("fit.css");
@import url("fonts.css");

@import url("resets.css");

@import url("general.css");

body { align-items: center; justify-content: center; }

.video { }

.level { display: flex; flex-direction: column; align-items: center; text-align: center; margin: 30px; text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px; }

.message { font-size: 16px; padding: 24px 32px; margin: 20px 60px; background-color: rgba(0, 0, 0, 0.067); backdrop-filter: blur(15px); border-radius: 20px; border: 1px solid rgba(255, 255, 255, 0.133); max-width: 800px; }